<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.25.0/sweetalert2.css">
<link rel="stylesheet" type="text/css" href="css/styles.css">
 <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"> 
    <!-- <link rel="stylesheet" type="text/css" href="../public/css/styles.css"> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

 <!-- Icon Bar (Sidebar - hidden on small screens) -->
 
<!-- Jumbotron --->
<div class="w3-padding-large" id="main">
     <!-- Page Content -->
 <div class="jumbotron jumbotron-fluid">
        <div class="container">
         <h1 class="display-4">Hello {{firstName}}</h1>
        </div>
        </div>
<!-- Clock -->
        <div id="clock" style="margin-top: 10px;">
          <br>
                <span id="currentTime"> </span>
                <script>
                    	function displayTime () {
	                    var currentTime = moment().format('MMM Do YYYY, h:mm:ss a');
	                    $("#currentTime").text(currentTime);
	                    }
                        setInterval(displayTime, 1000);
                </script>
              </div>
             </div>

    <div class="row">
        <div class="col-sm-3">
            <img src="{{profilePhoto}}" alt="Profile Photo" class="img-thumbnail"/>
        </div>

        <div class="col-sm-9">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>First Name</strong>: {{firstName}}</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>Last Name</strong>: {{lastName}}
                            </p>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <p><strong>Email</strong>: {{email}}
                    </p>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <p><strong>Age</strong>: {{age}}
                        </p>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>Gender</strong>: {{gender}}
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>Occupation</strong>: {{occupation}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p><strong>Location</strong>: {{location}}
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>Tell us something interesting about yourself</strong>: {{summary}}
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <p><strong>Interests/hobbies/goals</strong>: {{interests}}
                            </p>
                        </div>
                    </div>
                </div>

                {{!-- <button type="submit" class="btn btn-primary editProfile">Edit</button> --}}

            </div>
        </div>
    </div>
    </div>
</div>


<script src="" async defer></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>